li {
  list-style-type: none;
  color: #8B8B8B;
  margin: 12px;
  font-family: 'Special Elite', cursive;
  font-size: 13px;
}

a {
  text-decoration: none;
}

li.plants:hover {
  color: white;
}

.plants.selected {
  color: white;
}



.navbar {
  position: fixed;
  background-color: #14020A;
  float: left;
  width: 200px;
  height: 100%;
  padding: 40px;
}
@media (max-width: 767px) {
  .content {
    padding: 15px;
    margin-top: 100px;
  }
}

.content {
  margin-left: 200px;
  min-height: 100%;
}

.container {
  margin-left: 25px;
}
